.item{
    display: block;
    background-color: aquamarine;
    width: 30%;
    height: 650px;
    padding: 10px;
    margin: 10px
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
h1{
    text-align: center;
}
div{
    text-align: center;
}
a{
    width: 30%;
    border-radius: 30px;
    margin: 0 auto;
    padding: 10px;
    background-color: aqua;
    display: block;
    text-decoration: none;
}
img{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
p{
    margin: 10px;
}

