.mokuji{
    background-color: ghostwhite;
    padding: 10px 30px 10px 1px;
}
.mokuji ul li h4 a{
    text-align: left;
    color: black;
}
.mokuji ul li{
    margin: 20px;
    border-bottom: solid gainsboro 1px;
    list-style: url(/task/CHUKAN/css/css-img/marker.png);
}
table,th,td{
    border: 1px solid;
    padding: 15px;
}
.eniac,.phone{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 200px ;
}
.charles{
    flex-wrap: wrap;
    text-align: left;
    margin-top: 50px;
}
.charles img,.eniac img,.phone img{
    margin: 0 15px 15px 0;
}



