/* index */

.indexbody{
  background-image: url(img/haikei.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}
.indextopdiv{
    padding: 20px;
    text-align: center;
}
.indextopdiv2{
    width: 450px;
    height: 450px;
    margin: 0 auto;
}
.indextop{
    border-radius: 30px;
}
.indextopp{
    letter-spacing: 25px;
    font-size: 75px;
    color: white;
}
/* all */
html{
    padding-top: 30px;
}
.back{ 
  background-image: url(home/home-img/IMG_0492.png) ;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}
.huki{
    width: 1100px;
    padding: 20px 50px;
    margin: 0 auto ;
    background-color: rgb(221, 210, 172);
    border: 10px solid rgb(223, 195, 70);
    border-radius: 50px;
    text-align: center;
}
p{
    font-family: 'Zen Maru Gothic', serif;
}
.back-chara{ 
    background-image: url(home/home-img/chara.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
  }
  .back-prolo{ 
    background-image: url(home/home-img/prolo.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
  }
  .kao{ 
    background-image: url(home/exp/exp-img/顔.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
  }
.huki-top{
    display: flex;
}
